

html, body{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}





h1, .h1 {
    font-size: 2.5rem;
    color: #305b92;
}

h2, .h2 {
    font-size: 2rem;
    color: #926F30;
    padding-left: 1%;
}

h3, .h3 {
    font-size: 1.2rem;
    color: #928830;
    padding-left: 1%;
}



table {
    vertical-align: center;
    border-collapse: separate;
    border-spacing: 25px 5px;
}

td {
    vertical-align: center;
    padding: 10px 0;
}

#filledTable tbody td:nth-child(2)
{
    word-wrap:break-word !important;
}


#headercheminf{
    width:100%;
    /*height: 25%;*/
    /*min-height: 105px;*/
    float:left;
    /*margin-bottom: 1%;*/
    min-width: 1200px;
    /*box-shadow: 2px 2px 2px 2px lightgrey;*/
}

#headertext{
    color: #305392;;
    font-size: 48px;
    font-family: 'Manrope', sans-serif;

    /*background-color: #305392;*/
    float: left;
    width: 98%;
    max-height: 50%;
    min-height: 60px;
    text-align: right;
    padding-right: 2%;
}

#headerpic{
    float: right;
    min-width: 300px;
    max-width: 30%;
    padding-right: 2%;

}


#bibliography{

    float: left;
    min-height: 100px;
    width: 100%;
    margin-top: 1%;
    text-align: left;
    margin-left: 2%;
    font-family: 'Manrope', sans-serif;


}
#foot{
    /*background-color: #305392;*/
    text-align:center;
    color: #305392;
    float: left;
    height: 10%;
    min-height: 100px;
    width: 100%;
    font-family: 'Manrope', sans-serif;


    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
}

#bottom_content{

    margin-top: 1%;
    width: 100%;
    padding-bottom: 1%;
    min-width: 1200px;
    font-family: 'Manrope', sans-serif;

    /*box-shadow: 2px 2px 2px 2px lightgrey;*/
}

#container
{
    margin-bottom: 1%;
    margin-top: 1%;
    float:left;
    width: 100%;

    font-family: 'Manrope', sans-serif;

    /*margin-left: 2%;
    margin-right: 2%;

    height: 53%;
    min-height: 700px;


    width: 96%;
    min-width: 1200px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 2px 2px 2px 2px lightgrey;
    */


}

#step1, #step2, #step3, #step4{
    width: 96%;
    min-width: 1200px;
    font-family: 'Manrope', sans-serif;

    box-shadow: 2px 2px 2px 2px lightgrey;

    margin-bottom: 1%;
    margin-top: 1%;
    margin-left: 2%;
    margin-right: 2%;

    overflow: auto;
}


#resultList{
    float:left;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;

    overflow: auto;
}

#sugarType{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    margin-bottom: 1%;
}

#introduction{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    margin-bottom: 1%;
}

#submissionType{
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
    float: left;
    margin-bottom: 1%;
}

#submitFile
{
    float:left;
    min-height: 130px;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}


#oclContainer
{
    float:left;
    min-height: 550px;

    overflow: auto;

    width: 96%;
    margin-right: 2%;
    margin-left: 2%;


}


#smilesSubmission{
    min-height: 130px;
    float:left;
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

#listSubmittedFiles{
    float:bottom;
    width:50%;

}

.errorDiv{
    color:red;
    display: none;

}

#resubmit{
    margin-top: 10px;

    float:left;
}




#recomputeOrClear{
    margin-left: 2%;

}







input[type=button], input[type=submit], input[type=button], button.submit-mol-button-ocl, button.submit-smiles-button, files-button, choose-file-button, .input-choice-button, .choose-submission-type-button {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid #305392;
    border-radius: 0.6em;
    color: #305392;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=button]:hover, button.submit-mol-button-ocl:hover, button.submit-smiles-button:hover, files-button:hover, choose-file-button:hover, .input-choice-button:hover, .choose-submission-type-button:hover {
     color: #fff;
     outline: 0;
    box-shadow: 0 0 40px 40px #305392 inset;
 }

input[type=button]:active, input[type=submit]:active, input[type=button]:active, button.submit-mol-button-ocl:active, button.submit-smiles-button:active, files-button:active, choose-file-button:active, .input-choice-button:active, .choose-submission-type-button:active  {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px #305392 inset;
}







input#clear-all-button, button.clean-button-ocl {
    box-sizing: border-box;
    appearance: none;
    background-color: transparent;
    border: 2px solid darkred;
    border-radius: 0.6em;
    color: darkred;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1;
    margin: 20px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
input#clear-all-button:hover, button.clean-button-ocl:hover {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px darkred inset;
}

input#clear-all-button:active, button.clean-button-ocl:active {
    color: #fff;
    outline: 0;
    box-shadow: 0 0 40px 40px darkred inset;
}



