<!DOCTYPE html>

<head lang="en">
    <meta charset="UTF-8">
    <title>Sugar Removal Service</title>





    <meta http-equiv="X-UA-Compatible" content="chrome=1">

    <link rel="shortcut icon" type="image/png" href="/img/favicon.png"/>


    <link href="https://fonts.googleapis.com/css2?family=Manrope&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-latest.min.js"></script>

    <script src="https://www.lactame.com/lib/openchemlib/5.6.1/openchemlib-full.js"></script>

    <link rel="stylesheet" type="text/css" href="DataTables/datatables.min.css"/>
    <script type="text/javascript" src="DataTables/datatables.min.js"></script>
    <script type="text/javascript" src="DataTables/SearchPanes-1.0.1/js/dataTables.searchPanes.min.js"></script>
    <script type="text/javascript" src="DataTables/Select-1.3.1/js/dataTables.select.js"></script>

    <link rel="stylesheet" href="/css/main.css" />

    <script src="/js/power.js"></script>
</head>

<body>

<div id="headercheminf">
    <a target="_blank" rel="noopener noreferrer"  href="https://cheminf.uni-jena.de" ><img id="headerpic" src="/img/cheminf_logo.png"></a>
    <h1 id="headertext">Sugar Removal Service</h1>
</div>


<img src="/img/pleasewait.gif" id="waitimg" style="display: none ; position: fixed; top:0;left:0;right:0;bottom:0;margin:auto;z-index: 2;"/>


<div id="container">


    <div id="step1">

        <div id="introduction">
            <p>"Sugar" is a general term that refers to a carbohydrate with a molecular formula Cn(H2O)n.
                Despite being one of the most typical substructures in molecules produced by living organisms, they do not affect the principal activity of the aglycon.
                Moreover, their highly redundant structures can prevent from the efficient understanding of the main biological activities of the molecule.
            This application allows to computationally remove sugar structures from the submitted molecules. Different options are available: removal of all sugars, removal of only ring sugars or only linear sugars, and removal of only terminal ring and terminal linear sugars.
            Here, a terminal sugar is defined as a substructure that, when removed, does not split the parent structure in two or more disconnected substructures. </p>
            <p>It is also possible to remove only the ring sugars that are connected to the parent structure by a glycosidic bond.</p>
            <p></p>
            <p>The Sugar Remover Service is developed and maintained by the <a target="_blank" rel="noopener noreferrer"  href="https://cheminf.uni-jena.de" style="color: cornflowerblue">Steinbeck group</a> at the University Friedrich-Schiller in Jena, Germany.</p>
        </div>



        <h2 style="margin-left: 2%;">Choose sugar removal type</h2><h3 style="margin-left: 2%;">(Multiple choice possible)</h3>


        <div id="sugarType" >

            <table align="center" style="table-layout:fixed;">
                <colgroup>
                    <col style="width: 18%">
                    <col style="width: 18%">
                    <col style="width: 18%">
                    <col style="width: 18%">
                    <col style="width: 18%">
                </colgroup>
                <tr style="text-align: center;">
                    <td style="alignment: center;"><img src="/img/molAllSugars.png" style="height:148px;width: 160px;alignment: center;"/></td>
                    <td style="alignment: center;"><img src="/img/molAllRingSugars.png" style="height:148px;width: 160px;alignment: center;"/></td>
                    <td style="alignment: center;"><img src="/img/molAllTerminalRingSugars.png" style="height:148px;width: 160px;alignment: center;"/></td>
                    <td style="alignment: center;"><img src="/img/molAllLinearSugars.png" style="height:148px;width: 160px;alignment: center;"/></td>
                    <td style="alignment: center;"><img src="/img/molLinearTerminalSugars.png" style="height:148px;width: 160px;alignment: center;"/></td>
                </tr>
                <tr>
                    <td style="alignment: center;"><input class="cbSugarType" type="checkbox" name="All" id="stAll" onchange="uncheckPickingBoxes(this)"/><label for = "stAll">Remove all sugars &nbsp;&nbsp;</label> </td>

                    <td style="alignment: center;"><input class="cbSugarType" type="checkbox" name="OnlyRings" id="stOnlyRings" onchange="uncheckAllAndTerminalRingCheckbox(this)"/><label for = "stOnlyRings">Remove all ring sugars</label></td>

                    <td style="alignment: center;"><input class="cbSugarType" type="checkbox" name="OnlyTerminalRings" id="stOnlyTermRings" onchange="unckeckAllAndRingCheckbox(this)"/> <label for = "stOnlyTermRings">Remove terminal ring sugars</label></td>

                    <td style="alignment: center;"><input class="cbSugarType" type="checkbox" name="OnlyLinear" id="stOnlyLinear" onchange="uncheckAllAndTerminalLinearCheckbox(this)"/><label for = "stOnlyLinear">Remove all linear sugars</label></td>

                    <td style="alignment: center;"><input class="cbSugarType" type="checkbox" name="OnlyTerminalLinear" id="stOnlyTermLinear" onchange="uncheckAllAndLinearCheckbox(this)"/><label for = "stOnlyTermLinear">Remove all terminal linear sugars</label></td>

                </tr>
                <tr>
                    <td><div id="glyBonds1" style="display: none;"><input class="classWithGlyBonds" type="checkbox" name="WithGlyBonds" id="cbWithGlyBonds1" /><label for = "cbWithGlyBonds1">only glycosidic bond</label></div></td>
                    <td><div id="glyBonds2" style="display: none;"><input class="classWithGlyBonds" type="checkbox" name="WithGlyBonds" id="cbWithGlyBonds2" /><label for = "cbWithGlyBonds2">only glycosidic bond</label></div></td>
                    <td><div id="glyBonds3" style="display: none;"><input class="classWithGlyBonds" type="checkbox" name="WithGlyBonds" id="cbWithGlyBonds3" /><label for = "cbWithGlyBonds3">only glycosidic bond</label></div></td>
                    <td></td>
                    <td></td>

                </tr>
                <tr style="text-align: center;">
                    <td></td>
                    <td></td>
                    <td><button class="choose-submission-type-button" onclick="fillSugarRemovalParams(this)" >Next</button></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>

        <div id="chooseSugarRemovalTypeFirst" style="display: none ;" align="center" >
            <h2 style=" color: red; ">Choose sugar removal type to submit your molecule(s)!</h2>
        </div>


    </div>



    <div id="step2" style="display: none ;">
        <h2 style="margin-left: 2%;">Select molecule input type</h2>

        <div  id="submissionType">
            <table align="center" style="table-layout: fixed;">
                <tr>
                    <td><button type="button" class="input-choice-button" onclick="showFileInputDiv(this)">&nbsp;&nbsp;&nbsp;File (SDF, MOL, SMI)&nbsp;&nbsp;&nbsp;</button></td>
                    <td><button type="button" class="input-choice-button" onclick="showSmilesPasteDiv(this)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Paste SMILES&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></td>
                    <td><button type="button" class="input-choice-button" onclick="showDrawMoleculeDiv(this)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Draw molecule&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></td>
                </tr>
            </table>
        </div>
    </div>

    <div id="step3" > <!--Molecule input and submission-->
        <div id="submitFile"  style="display: none ; ">

            <h2>Upload a file</h2>

            <form id="fileUpload">
                <table>
                    <tr><td>Molecular file to upload :</td><td><input style="font-size: 18px; font-min-size: 100%" type="file" name="file" id="choose-file-button" /></td></tr>
                    <tr><td><small>Accepted formats: SDF, MOL, SMILES.<br />Max number of molecules: 200 (can be long)</small></td><td><input type="submit" value="Upload and remove sugars" onclick="submitFile(); return false;" id="files-button" /></td></tr>
                </table>
            </form>
            Link to download the standalone application JAR

            <div id="errorDivFile" class="errorDiv">
                <p>No file submitted or bad format!</p>
            </div>
            <div id="errorDivFileFormat" class="errorDiv">
                <p>Incorrect file format. Accepted formats: SDF, MOL, SMI (SMILES)</p>
            </div>


        </div>

        <div id="smilesSubmission" style="display: none ; ">
            <h2>Submit SMILES</h2>
            <table>
                <tr><td>SMILES: </td><td><textarea id="smilesTextArea" type="text" cols="100" size="100" /></textarea></td></tr>
                <tr><td><small>All SMILES types accepted but stereochemistry and isotopes will be ignored</small></td><td><button class="submit-smiles-button"  onclick="submitSMILES(this)">Upload and remove sugars</button> </td></tr>
            </table>


            <div id="errorDivSmiles" class="errorDiv">
                <p>The pasted string is empty or is not a SMILES</p>
            </div>
        </div>

        <div id="oclContainer"  style="display: none ; ">
            <h2>Draw a molecule</h2>

            <div id="superEditor"></div>

            <div style="margin: 1%;">
            <button class="submit-mol-button-ocl"  onclick="submitDraw(this)" >Upload and remove sugars</button> <!--style="font-size: 18px; font-min-size: 100%"-->
            </div>
            <div id="errorDivDraw" class="errorDiv">
                <p>No molecule detected!</p>
            </div>
        </div>


    </div>

    <div id="step4">

        <!--<div id="resultsText"></div>-->
        <div id="resultList" style="display: none ; "></div>
    </div>





</div>



<div id="bottom_content">
    <div id="foot">
        <p><strong>The Sugar Removal Service is an open source web application based fully on open data. Source and installation instructions are available at <a target="_blank" rel="noopener noreferrer"  href="https://github.com/mSorok/SugarRemovalWeb" style="color: chocolate">GitHub</a>.
            Please submit bug reports, feature requests and general issues through <a target="_blank" rel="noopener noreferrer"  href="https://github.com/mSorok/NPlsWeb/issues" style="color: chocolate">the issues tracker at GitHub</a>.</strong>
            The Sugar Remover Service is developed and maintained by the <a target="_blank" rel="noopener noreferrer"  href="https://cheminf.uni-jena.de" style="color: chocolate">Steinbeck group</a> at the University Friedrich-Schiller in Jena, Germany.</p>
        <p>The code for this web application is released under the MIT license. Data licenses, if available, can be obtained from the home page of the various natural product databases listed above.</p>
    </div>
</div>


</body>
</html>