<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Sugar Removal Service</title>

    <link rel="stylesheet" href="/css/main.css" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <script src="https://www.lactame.com/lib/openchemlib/5.6.1/openchemlib-full.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>

<div id="headercheminf">
    <a target="_blank" rel="noopener noreferrer"  href="https://cheminf.uni-jena.de" ><img id="headerpic" src="/img/cheminf_logo.png"></a>
    <h1 id="headertext">Sugar Removal Service</h1>
</div>


<img src="/img/pleasewait.gif" id="waitimg" style="display: none ; position: fixed; top:0;left:0;right:0;bottom:0;margin:auto;z-index: 2;"/>




Need to do a dynamic page:
First step: select input type (file, SMILES string, InChi string, Draw molecule)
-> Show the corresponding div

Second step: choose deglycosylation type:
- all (linear and circular sugars)
- only linear sugars
- only circular sugars
- only terminal circular sugars

Process (back to the controller)

Draw the output


<div id="bottom_content">
    <div id="foot">
        <p><strong>The Sugar Removal Service is an open source web application based fully on open data. Source and installation instructions are available at <a target="_blank" rel="noopener noreferrer"  href="https://github.com/mSorok/SugarRemovalWeb" style="color: chocolate">GitHub</a>.
            Please submit bug reports, feature requests and general issues through <a target="_blank" rel="noopener noreferrer"  href="https://github.com/mSorok/NPlsWeb/issues" style="color: chocolate">the issues tracker at GitHub</a>.</strong>
            NaPLeS is developed and maintained by the <a target="_blank" rel="noopener noreferrer"  href="https://cheminf.uni-jena.de" style="color: chocolate">Steinbeck group</a> at the University Friedrich-Schiller in Jena, Germany.</p>
        <p>The code for this web application is released under the MIT license. Data licenses, if available, can be obtained from the home page of the various natural product databases listed above.</p>
    </div>
</div>

</body>
</html>